/* styles.css */
.cursor-pointer {
  cursor: pointer;
}

.bg-cover {
  background-size: cover;
}

.bg-top {
  background-position: top;
}

.h-32 {
  height: 8rem;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.bg-black {
  background-color: black;
}

.bg-opacity-50 {
  background-opacity: 0.5;
}

.text-white {
  color: white;
}

.border-blue-500 {
  border-color: #3b82f6;
}

.border-4 {
  border-width: 4px;
}

.mt-6 {
  margin-top: 1.5rem;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.md\\:grid-cols-2 {
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.md\\:grid-cols-3 {
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.lg\\:grid-cols-4 {
  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.black-text {
  color: black;
}

.gap-4 {
  gap: 1rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.text-center {
  text-align: center;
}

.text-gray-500 {
  color: #6b7280;
}

.text-xs {
  font-size: 0.75rem;
}

.p-1 {
  padding: 0.25rem;
}

.rounded-b-lg {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
